<body class="hold-transition skin-blue sidebar-mini margin-top-left-admin">
	<div class="wrapper">

		<!-- Main Header -->
	
		<!-- Left side column. contains the logo and sidebar -->
		<%= render "administration/left" %>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">

			</section>

			<!-- Main content -->

			<section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
       			<%= render 'administration/box_user' %>
       			<%= render 'administration/box_tests' %>

    		</section>
    <!-- /.content -->
		</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->

<!-- Control Sidebar -->

<!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  	immediately after the control sidebar -->

  </div>
  <!-- ./wrapper -->

</body>