<body class="hold-transition skin-blue sidebar-mini margin-top-left-admin">
  <div class="wrapper">

    <!-- Main Header -->
    <!-- Left side column. contains the logo and sidebar -->
    <%= render "administration/left" %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">

      </section>

      <!-- Main content -->

      <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="container-form">
          <h3 style="text-align: center;">Môn học</h3>
          <%= link_to 'Thêm môn học mới', new_subject_path, id: "new-subject", remote: true, class: "btn btn-primary" %>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th>Tên môn học</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>

            <tbody id="subjects">
              <%= render @subjects %>    
            </tbody>
          </table>
        </div>
        
      </section>
      <!-- /.content -->
    </div>
  </div>
</body>

