// Place all the styles related to the qbanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.import_qbank .error {
    color: red !important;
}

.answer-correct {
	background: #dff0d8;
	color: green;
	padding: 6px;
	border-radius: 6px;
	font-weight: 600;
	margin-left: -6px;
	border: 1px solid black;
}

.answer-incorrect {
	background: #fbcaca;
	color: red;
	padding: 6px;
	border-radius: 6px;
	font-weight: 600;
	margin-left: -6px;
	border: 1px solid black;
}

.bold {
	font-weight: 600;
}

.background-quiz {
	background: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #d1d1d1;
}