<footer class="main-footer">
    <!-- To the right -->
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#">Công ty</a>.</strong> Đã đăng ký bản quyền.
    <p>Mọi thắc mắc hoặc góp ý xin vui lòng gửi vào email: xxxx@gmail.com </p>
 </footer>